body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #605E5E;
  color: #FFF; /* Dark gray text for good readability */
  line-height: 1.6; /* Improves readability of text */
}
